# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Dockerfile

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
